<html>
<head>
  <meta charset='utf-8'>
  <title>Thank You!</title>
</head>
<body>
  <h1>Thanks <%= name %> !</h1>
  <p>Thanks for coming to our conference.  We couldn't have done it without you!
      <% if phone_number.is_a?(Integer) %>
          We've sent you some dogecoin to the phone number <%= "##{phone_number}" %> as a bribe.
      <%else%>
          <%= "Send us your phone number so we can text you a bribe!" %>
      <%end%>
  </p>

  <p>
    Political activism is at the heart of any democracy and your voice needs to be heard.
    Please consider reaching out to your following representatives from your zipcode: <%= zipcode  %>:
  </p>

  <table>
      <% if legislators.is_a?(Array) %>
          <th>Name</th><th>Website</th>
            <% legislators.each do |legislator| %>
                <tr>
                    <td><%= "#{legislator.name}" %></td>
                    <td><%= % "#{legislator.urls.join}" unless legislator.urls.nil? %></td>
                </tr>
            <%end%>
      <%else%>
              <th></th>
              <td><%= "#{legislators}" %></td>
      <%end%>
  </table>
</body>
</html>
